 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 746px;
}

.u-section-1 .u-image-1 {
  width: 425px;
  left: 66px;
  right: auto;
}

.u-section-1 .u-group-1 {
  width: 488px;
  min-height: 476px;
  height: auto;
  margin: 60px 66px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 342px;
  width: 320px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 850px;
    margin-left: 539px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: -482px;
    margin-right: 184px;
    margin-left: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 295px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 74px;
    margin-left: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 115px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 52px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 680px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: auto;
    margin-left: 20px;
  }
}